@font-face {
    font-family: 'Garet Book';
    src: url('../../fonts/Garet-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-color: #14FFEC;        /* Aqua Blue */
    --secondary-color: #0D7377;      /* Dark Teal */
    --background-color: #1e2336;     /* Dark Blue */
    --text-color: #FFFFFF;           /* Light Gray */
    --accent-color: #00bf63;         /* Green */
    --button-bg-hover: #424242;      /* Medium Charcoal */
    --input-bg: #1E1E1E;             /* Dark Gray */
    --input-border: #333333;         /* Border Gray */
    --link-color: #BB86FC;           /* Purple */
    --error-color: #CF6679;          /* Red */
}



body {
    font-family: 'Garet Book', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    
    .App {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }
}



